
testJSTLProject/.classpath
testJSTLProject/.project
testJSTLProject/.settings/.jsdtscope
testJSTLProject/.settings/org.eclipse.jdt.core.prefs
testJSTLProject/.settings/org.eclipse.wst.common.component
testJSTLProject/.settings/org.eclipse.wst.common.project.facet.core.xml
testJSTLProject/.settings/org.eclipse.wst.jsdt.ui.superType.container
testJSTLProject/.settings/org.eclipse.wst.jsdt.ui.superType.name
*.class
firstMyWebProject/.project
firstMyWebProject/.classpath
firstMyWebProject/.settings/.jsdtscope
firstMyWebProject/.settings/org.eclipse.jdt.core.prefs
firstMyWebProject/.settings/org.eclipse.wst.common.component
firstMyWebProject/.settings/org.eclipse.wst.common.project.facet.core.xml
firstMyWebProject/.settings/org.eclipse.wst.jsdt.ui.superType.container
firstMyWebProject/.settings/org.eclipse.wst.jsdt.ui.superType.name
firstMyWebProject/.settings/org.eclipse.jst.j2ee.ejb.annotations.xdoclet.prefs
secondMyWebProject/.classpath
secondMyWebProject/.project
secondMyWebProject/.settings/.jsdtscope
secondMyWebProject/.settings/org.eclipse.jdt.core.prefs
secondMyWebProject/.settings/org.eclipse.wst.common.component
secondMyWebProject/.settings/org.eclipse.wst.common.project.facet.core.xml
secondMyWebProject/.settings/org.eclipse.wst.jsdt.ui.superType.container
secondMyWebProject/.settings/org.eclipse.wst.jsdt.ui.superType.name
*.PNG
*.PNG
